.hljs {
  color: 	#404040;
  font-size: 12.2px;
  font-family: 'Rounded Mplus 1c', 'M PLUS Rounded 1c', sans-serif;
}

.hljs1 {
  color: 	#404040;
  font-size: 12.2px;
  font-family: 'Rounded Mplus 1c', 'M PLUS Rounded 1c', sans-serif;
  text-align: "center";
  word-break: break-all;
  word-wrap: break-word;
}

.tocify {
  color: 	#404040;
  font-size: 13.8px;
  font-family: "Helvetica Neue", "Roboto";
}

code, kbd, pre, samp {
    font-family: "Anonymous Pro", monospace;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
      font-family: "Roboto";
}

h1, .h1 {
      font-size: 23px;
}

h2, .h2 {
      font-size: 15px;
}

h3, .h3 {
      font-size: 12px;
}

h4, .h4 {
      font-size: 11px;
}

blockquote {
    padding: 3px 5px;
    font-size: 13px;
}

.toc-content {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-default {
    padding-left: 10px;
    padding-right: 10px;
}

element.style {
}
.navbar-default {
    background-color: #FEFDFC;
    border-color: #FCF9F6;
    font-size: 16px;
}

element.style {
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #FCF9F6;
}

element.style {
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #000000;
    background-color: #FEFDFC;
}

.navbar .nav>li>a {
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

element.style {
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #7a0000;
}

.package-detail {
  padding: 24px;
  box-shadow: inset 0 0px 0px #dee7e7;
  background: #dee7e7;
}

.packages-table {
  margin-top: 1rem;
  font-size: 0.9375rem;
  border: 1px solid hsl(0, 100%, 99%);
  border-radius: 1px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}

.containervideo {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframevideo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.lesserh {
line-height: 1.2;
}

.chart {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
